<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일 인증</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      font-family: 'Gothic A1', 'Inter', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
      background-color: #fff;
      margin: 0;
      padding: 0;
    "
  >
    <div style="max-width: 600px; margin: auto; padding: 16px 100px; border: 1px solid #eee">
      <!-- 로고 (두 개 나란히) -->
      <div
        style="
          height: 100px;
          padding: 10px 0px 6px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          gap: 16px;
          border-bottom: 4px solid #ff005c;
        "
      >
        <img
          src="https://raw.githubusercontent.com/WhatDoYouSing/WhatDoYouSing-App-Back/main/assets/logo.png"
          alt="왓두유씽 로고"
          style="width: 48px"
        />
        <img
          src="https://raw.githubusercontent.com/WhatDoYouSing/WhatDoYouSing-App-Back/main/assets/word-mark.png"
          alt="왓두유씽 워드마크"
          style="height: 30px"
        />
      </div>

      <div style="padding: 40px; display: flex; flex-direction: column; gap: 30px">
        <!-- 제목 -->
        <h2 style="margin: 0; color: #33292c; font-size: 22px; font-weight: 700; line-height: 28px">
          왓두유씽 이메일 주소 인증이 도착했어요!
        </h2>

        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 24px;
            color: #33292c;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
          "
        >
          <!-- 서브 타이틀 -->
          <p style="margin: 0; font-weight: 600">왓두유씽에 오신 것을 환영해요!</p>

          <!-- 본문 -->
          <p style="margin: 0; font-weight: 400">
            왓두유씽 회원가입을 위해 이메일 주소 인증 요청을 해 주셔서 감사합니다.<br />
            아래 버튼을 클릭하여 회원가입 절차를 진행해 주세요 :)
          </p>
        </div>

        <!-- 인증 버튼 -->
        <a
          href="{{ verification_link }}"
          style="
            display: inline-block;
            width: 260px;
            padding: 16px 0;
            text-align: center;
            background-color: #33292c;
            border-radius: 2px;

            color: #f5edf0;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
          "
        >
          이메일 주소 인증하기
        </a>
      </div>
    </div>
  </body>
</html>
